* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: rgb(218,219,212);
    background: linear-gradient(0deg, rgba(218,219,212,1) 85%, rgba(0,150,136,1) 85%);
    height: 100vh;
    background-repeat: no-repeat;
    overflow: hidden;
}

.myContainer {
    margin-top: 20px;
}

.myImg {
    width: 15%;
}

.myActiveContactsPhoto

.myProfile,
.mySearch,
.myActiveContacts {
    background-color: #EAEAEA;
}

.myContacts{
    height: 70vh;
}

.myLastMessage,
.myTime {
    font-size: 10px;
    color: rgb(176, 176, 176);
}

