/* Reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* General */

body {
    background: rgb(218,219,212);
    background: linear-gradient(0deg, rgba(218,219,212,1) 85%, rgba(0,150,136,1) 85%);
    height: 100vh;
    background-repeat: no-repeat;
    overflow: hidden;
}



.h-100 {
    height: 100%;
}

.w-100 {
    width: 100%;
}

.fs-12 {
 font-size: 12px;
}

.fs-10 {
    font-size: 10px;
}

/* My Css */

.myContainer {
    margin-top: calc((100vh - 900px) / 2);
    height: 900px;
}

.myImg {
    width: 50px;
    height: 50px;
}

.myProfile,
.rightHeader,
.myNotifiche {
    height: 60px;
}

.mySearch {
    height: 50px;
}


.myProfile,
.mySearch,
.myActiveContacts { 
    background-color: #EAEAEA;
}

.myLastMessage,
.myTime {
    font-size: 10px;
    color: rgb(176, 176, 176);
}

.myChat {
    background-image: url(../img/mine.jpg);
    margin-right: calc(-.5 * var(--bs-gutter-x));
    margin-left: calc(-.5 * var(--bs-gutter-x));
    background-size: contain;
    overflow-y: scroll;
    height: calc(900px - 40px - 60px);
}

.myMessageBar {
    background-color: #F3EEEA;
    height: 40px;
}

.myContacts {
    overflow-y: scroll;
    cursor: pointer;
    height: calc(900px - 60px - 60px - 50px);
}

/* Messaggi */

.sent {
    background-color: #D5F9BA;
}

.received {
    background-color: white;
}